.projects-container {
  position: relative;
}

.l-flex--column {
  display: flex;
  flex-direction: column;
}

.showcase {
  margin-bottom: 8px * 6;
  border-radius: 4px;
}

.c-header {
  margin-bottom: 16px;
}

.c-header h2 {
  margin: 0;
}

.h-anchor-offset {
  display: block;
  position: relative;
  top: -20px;
  visibility: hidden;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
