// COLOR
$blue: #1976D2;

.marketing-banner {
  background-color: lighten($blue, 10);
  margin-top: 64px;
  padding: 32px;

  @media (max-width: 600px) {
    margin-top: 56px;
    padding: 18px;
  }

  .banner-headline {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    color: white;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;

    @media (max-width: 600px) {
      font-size: 18px;
      font-weight: 400;
    }

    &:after {
      display: none;
    }
  }
}

h1 {
  display: inline-block;
  font-size: 24px;
  font-weight: 500;
  margin: 8px 0px;

  @media screen and (max-width: 600px) {
    margin-top: 0;
  }
}

article {
  padding: 32px;

  @media (max-width: 800px) {
    padding: 24px;
  }
}

.projects-container {
  position: relative;
}

.l-flex--column {
  display: flex;
  flex-direction: column;
}

.showcase {
  margin-bottom: 8px * 6;
  border-radius: 4px;
}

.c-header {
  margin-bottom: 16px;
}

.c-header h2 {
  margin: 0;
}

.h-anchor-offset {
  display: block;
  position: relative;
  top: -20px;
  visibility: hidden;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
