// COLOR
$blue: #1976D2;

.marketing-banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  background-color: lighten($blue, 10);
  margin-top: 64px;
  padding: 16px;

  @media (max-width: 600px) {
    margin-top: 56px;
    padding: 18px;
  }

  .banner-headline {
    // text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    color: white;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;

    @media (max-width: 600px) {
      font-size: 18px;
      font-weight: 400;
    }

    a {
      font-size: 24px;
      font-weight: 300;
      color: white;
    }

    &:after {
      display: none;
    }
  }
}

app-main {
  article {
    padding: 32px;

    @media (max-width: 800px) {
      padding: 24px;
    }
  }
}
