<!--The content below is only a placeholder and can be replaced.-->
<div id="top-of-page"></div>

<div *ngIf="isFetching" class="progress-bar-container">
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>

<mat-toolbar color="primary" class="app-toolbar">
  <mat-toolbar-row class="notification-container">
    <app-notification
      icon="insert_comment"
      iconLabel="Announcement"
      (dismissed)="notificationDismissed()">
    </app-notification>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button class="hamburger" [class.starting]="isStarting" (click)="sidenav.toggle()" title="Side Menu">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
     <a class="nav-link home" href="/">
       <img src="assets/images/logos/logo-nav@2x.png" width="150" height="40" title="Home" alt="Home">
     </a>
     <app-top-menu></app-top-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" role="main">
  <mat-sidenav #sidenav class="sidenav" [mode]="mode" [opened]="isOpened">
    <app-nav-menu></app-nav-menu>
  </mat-sidenav>

  <section class="sidenav-content" role="content">
    <div style="opacity: 1; transition: all 200ms easy-in-out;">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</mat-sidenav-container>

<footer class="no-print">
  <app-footer [versionInfo]="'1.2.0'" ></app-footer>
</footer>
