<button mat-button [matMenuTriggerFor]="languageMenu">
  <mat-icon>language</mat-icon>
  {{ 'top.language.label' | translate }}
</button>
<mat-menu #languageMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="changeLanguage('en')">{{ 'top.language.english' | translate }}</button>
  <button mat-menu-item (click)="changeLanguage('zh-cn')">{{ 'top.language.chinese' | translate }}</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="accountMenu">
  <mat-icon>account_circle</mat-icon>
  {{ 'top.account.label' | translate }}
</button>
<mat-menu #accountMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item>{{ 'top.account.signin' | translate }}</button>
</mat-menu>
